* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #dadada;
    display: flex;
}

.wrapper {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.image {
    width: 22%;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    transition: 0.25s;
}

.image:hover img {
    transform: scale(1.2);
}

.gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    color: white;
    display: flex;
    transition: 0.5s;
}

.hide {
    display: none;
}

.gallery_inner {
    width: 80%;
    height: 80%;
    margin: auto;
}

.control {
    position: absolute;
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
}

.close {
    top: 0;
    right: 20px;
}

.next {
    right: 20px;
}
